<div class="serial-page">
    <div class="serial-page-loading" ng-if="loading">
        <div class="cssload-loader">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
        </div>
    </div>

    <div class="serial-page-container">
        <div class="serial-data" ng-if="data">
            <div class="serial-controls">
                <div class="button add-button"></div>
            </div>

            <div class="serial-top-data">
                <div class="big-poster">
                    <img ng-src="{{ data.image }}" />
                </div>

                <div class="serial-top-info">
                    <div class="info-line">
                        <b>Озвучка:</b> {{ data.voice }}
                    </div>

                    <div class="info-line" ng-repeat="line in data.other track by $index">
                        <b>{{ line.caption }}</b> {{ line.data }}
                    </div>
                </div>
            </div>

            <div class="serial-bottom-data">
                <div class="serial-description">
                    {{ data.description }}
                </div>
            </div>
        </div>
    </div>
</div>