@font-face {
    font-family: "Trebuchet MS";
    src: url(../fonts/trebuchet_ms.ttf);
}

* {
    box-sizing: border-box;
    font-family: "Trebuchet MS";
}

html, body {
    padding: 0;
    margin: 0;
}

.pointer {
    cursor: pointer;
}

.refresh-button {
    position: fixed;
    right: 10px;
    top: 10px;
    background: green;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.home {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-panel {
    background: #f6f6f6;
    flex: 0 1 300px;
    border-right: 1px solid #e3e3e3;
    height: 100vh;
    overflow-y: auto;
    width: 300px;
    min-width: 300px;
    position: fixed;
    left: 0;
    top: 0;
}

.dummy {
    flex: 0 1 300px;
    width: 300px;
    min-width: 300px;
}

.content {
    flex: 1 1 auto;
}

.search {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: 1px solid #ccc;
    background: #fff;
}

.search-icon {
    padding: 7px;
}

.search input {
    padding: 6px 6px 6px 0;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
}

.subtitle {
    padding: 0 20px 0 20px;
}

.list-container {
    /*padding-top: 20px;*/
}

.serial {
    padding: 10px 20px;
    background: #eee;
    position: relative;
}

.serial:hover {
    cursor: pointer;
    background: #c3c7de;
}

.serial-item {
    display: flex;
    flex-direction: row;
}

.poster {
    flex: 0 0 80px;
    height: 120px;
    position: relative;
}

.poster-loader {
    width: 80px;
    height: 80px;
    position: absolute;
    left: -4px;
    top: 0;
}

.poster img {
    width: 100%;
}

.serial-container {
    margin-left: 10px;
}

.serial-name {
    font-weight: bold;
}

.serial-info {
    color: gray;
}

.serial-page {
    height: 100vh;
}

.serial-page-loading {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.serial-page-loading > div {
    flex: 0 0 auto;
    position: static;
}

.serial-top-data, .serial-bottom-data {
    padding: 20px;
}

.serial-top-data {
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
}

.big-poster {
    display: inline-block;
    padding: 10px;
}

.big-poster img {
    width: 200px;
}

.serial-top-info {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.serial-controls {
    padding: 20px;
    background: rgb(228, 228, 228);
}

.button {
    display: inline-block;
    margin-right: 8px;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
}

.add-button {
    background: #27ae60;
    color: white;
    border: 1px solid #259f54;
}

.add-button:hover {
    background: #259f54;
}

.remove-button {
    background: #c0392b;
    color: white;
    border: 1px solid #b4372a;
}

.remove-button:hover {
    background: #b4372a;
}

.center-loading {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.back-button {
    padding: 20px;
    background: #eee;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.serial-browse {
    margin-top: 59px;
}

.back-button:hover {
    background: #ddd;
}

.season, .episode {
    padding: 20px;
    cursor: pointer;
    position: relative;
}

.season.watched, .episode.watched {
    color: rgb(191, 190, 190);
}

.season:hover, .episode:hover {
    background: #eee;
}

.serial-updated {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 20px;
}

.updated {
    position: absolute;
    right: 10px;
    top: 25px;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 20px;
}

.watch-episode {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.watch-episode video {
    height: calc(100vh - 4px);
    width: 100%;
}

.video-js {
    height: 100vh;
    width: 100%;
}